/* 
*{
  padding: 0px;
  margin: 0px;
}

#Button{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px; 
  
  
}

/* #dc{
  color: rgb(250, 64, 64);
  margin: 100px;
  text-align: justify;
  size: 20px;
} */
